[[redirects]]
from = "/api/*"
to = "/.netlify/functions/api/:splat"
status = 200
force = true

[build]
# تجاهل البناء عندما تكون التغييرات محصورة في ملفات JSON داخل مجلد الأصول
ignore = "git diff --name-only $CACHED_COMMIT_REF $COMMIT_REF | tr -d '\n' | grep -Ev '^(assets\/[^\n]*\.json)$' >/dev/null && exit 1 || exit 0"
