[[redirects]]
from = "/api/*"
to = "/.netlify/functions/api/:splat"
status = 200
force = true

[build]
ignore = "git diff --name-only $CACHED_COMMIT_REF $COMMIT_REF | grep -Ev '^(assets/.*\\.(json|png|jpg|jpeg|webp|svg|mp4|webm|ogv))
 >/dev/null && exit 1 || exit 0"
