[[redirects]]
from = "/api/*"
to = "/.netlify/functions/api/:splat"
status = 200
force = true

[build]
ignore = "if git diff --name-only $CACHED_COMMIT_REF $COMMIT_REF | grep -Ev '^assets/.*\\.json$' >/dev/null; then exit 1; else exit 0; fi"
